{% extends 'layout.html' %}
{% block body %}

<div class="products-breadcrumb">
	<div class="container">
		<ul>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="{{url_for('home')}}">Home</a><span>|</span></li>
			<li>Beverages</li>
		</ul>
	</div>
</div>

<div class="banner">
	{% include 'contents.html' %}
	<div class="grocery_banner_nav_right">
		<div class="grocery_banner_nav_right_banner7">
			<h3 style="background-color: #f6c453;">Best Deals For New Products<span class="blink_me"></span></h3>
		</div>
		<div class="grocerys_grocery_banner_nav_right_grid grocerys_grocery_banner_nav_right_grid_sub">
			<h3>Beverages</h3>
			<div class="grocerys_grocery_banner_nav_right_grid1">
				<h6>Juices</h6>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/13.png" alt=" " class="img-responsive" /></a>
											<p>mixed fruit juice (1 ltr)</p>
											<h4>₹3.00 <span>₹4.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="mixed fruit juice" />
													<input type="hidden" name="amount" value="3.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/50.png" alt=" " class="img-responsive" /></a>
											<p>aamras juice (250 ml)</p>
											<h4>₹4.00 <span>₹5.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="aamras juice" />
													<input type="hidden" name="amount" value="4.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/51.png" alt=" " class="img-responsive" /></a>
											<p>coconut water (1000 ml)</p>
											<h4>₹6.00 <span>₹8.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="coconut water" />
													<input type="hidden" name="amount" value="6.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/52.png" alt=" " class="img-responsive" /></a>
											<p>ceres orange juice (1 ltr)</p>
											<h4>₹6.00 <span>₹8.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="ceres orange juice" />
													<input type="hidden" name="amount" value="6.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="grocerys_grocery_banner_nav_right_grid1">
				<h6>soft drinks</h6>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/49.png" alt=" " class="img-responsive" /></a>
											<p>orange soft drink (250 ml)</p>
											<h4>₹5.00 <span>₹7.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="orange soft drink" />
													<input type="hidden" name="amount" value="5.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/14.png" alt=" " class="img-responsive" /></a>
											<p>prune juice - sunsweet (1 ltr)</p>
											<h4>₹4.00 <span>₹5.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="prune juice - sunsweet" />
													<input type="hidden" name="amount" value="4.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/15.png" alt=" " class="img-responsive" /></a>
											<p>coco cola zero can (330 ml)</p>
											<h4>₹3.00 <span>₹5.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="coco cola zero can" />
													<input type="hidden" name="amount" value="3.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/16.png" alt=" " class="img-responsive" /></a>
											<p>sprite bottle (2 ltr)</p>
											<h4>₹3.00 <span>₹4.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="sprite bottle" />
													<input type="hidden" name="amount" value="3.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="grocerys_grocery_banner_nav_right_grid1">
				<h6>Energy Drinks</h6>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/53.png" alt=" " class="img-responsive" /></a>
											<p>dabur glucose D (250 gm)</p>
											<h4>₹10.00 <span>₹12.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="dabur glucose D" />
													<input type="hidden" name="amount" value="10.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/54.png" alt=" " class="img-responsive" /></a>
											<p>mix lemon flavour (50 gm)</p>
											<h4>₹8.00 <span>₹10.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="mix lemon flavour" />
													<input type="hidden" name="amount" value="8.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/55.png" alt=" " class="img-responsive" /></a>
											<p>schweppes water (250 ltr)</p>
											<h4>₹6.00 <span>₹7.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="schweppes water" />
													<input type="hidden" name="amount" value="6.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 grocerys_grocery_banner_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid grocery_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="../static/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{{url_for('single')}}"><img src="../static/images/56.png" alt=" " class="img-responsive" /></a>
											<p>red bull energy drink (250 ml)</p>
											<h4>₹7.00 <span>₹9.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="red bull energy drink" />
													<input type="hidden" name="amount" value="7.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="Rupees" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

{% endblock %}