{% extends 'layout.html' %}
{% block body %}

<div class="banner">
	{% include "contents.html" %}
	<div class="grocery_banner_nav_right">
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<div class="grocery_banner_nav_right_banner">
							<h3>Up To <span>25% Off</span>Order Now</h3>
							<div class="more">
								<a href="{{url_for('products')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
							</div>
						</div>
					</li>
					<li>
						<div class="grocery_banner_nav_right_banner1">
							<h3>Limited <span>Time</span> Be Quick.</h3>
							<div class="more">
								<a href="{{url_for('products')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
							</div>
						</div>
					</li>
					<li>
						<div class="grocery_banner_nav_right_banner2">
							<h3>Big Deal <br>of<br> the Day.</h3>
							<div class="more">
								<a href="{{url_for('products')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" property="" />
		<script defer src="../static/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function(){
			  	$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
						$('body').removeClass('loading');
					}
				});
			});
		</script>
	</div>
	<div class="clearfix"></div>
</div>

<div class="banner_bottom">
	<div class="wthree_banner_bottom_left_grid_sub"></div>
	<p style="text-align: center;font-size: xxx-large;padding-left: 2em;" class="container-fluid ">Best <span> Offers</span> Ever</p>
	<div class="wthree_banner_bottom_left_grid_sub1">
		<div class="col-md-4 wthree_banner_bottom_left">
			<div class="wthree_banner_bottom_left_grid">
				<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
				<div class="wthree_banner_bottom_left_grid_pos">
					<h4>Huge Discount<span>45%</span></h4>
				</div>
			</div>
		</div>
		
		<div class="col-md-4 wthree_banner_bottom_left">
			<div class="wthree_banner_bottom_left_grid">
				<img src="../static/images/5.jpg" alt=" " class="img-responsive" />
				<div class="wthree_banner_btm_pos">
					<h3>Introducing The<span>Best Store</span> For <i>Groceries</i></h3>
				</div>
			</div>
		</div>
		<div class="col-md-4 wthree_banner_bottom_left">
			<div class="wthree_banner_bottom_left_grid">
				<img src="../static/images/6.jpg" alt=" " class="img-responsive" />
				<div class="wthree_banner_btm_pos1">
					<h3>Save <span>Upto</span> ₹200</h3>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="top-brands">
	<div class="container">
		<h3>Hot Offers</h3>
		<div class="agile_top_brands_grids">
			{% for i in range(n) %}
			<div class="col-md-3 top_brand_left">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block" >
									<div class="snipcart-thumb">
										<a href="{{url_for('single')}}"><img title=" " alt=" " src="{{'../static/images/' + data[i]['product_id']|string + '.png'}}" /></a>		
										<p>{{data[i]['product_name']}}</p>
										<h4>{{"₹" + data[i]['product_with_discount']|string }}<span>{{"₹" + data[i]['product_price']|string }}</span></h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
												<input type="hidden" name="amount" value="865.00" />
												<input type="hidden" name="discount_amount" value="67.01" />
												<input type="hidden" name="currency_code" value="Rupees" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<div class="fresh-vegetables">
	<div class="container">
		<h3>Top Products</h3>
		<div class="grocery_fresh_vegetables_grids">
			<div class="col-md-3 grocery_fresh_vegetables_grid grocery_fresh_vegetables_grid_left">
				<div class="grocery_fresh_vegetables_grid2">
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('products')}}">All Brands</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('vegetables')}}">Vegetables</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('vegetables')}}">Fruits</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('drinks')}}">Juices</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('bread')}}">Bread & Bakery</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('products')}}">Spices</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('products')}}">Dry Fruits</a></li>
						<li><i class="fa fa-check" aria-hidden="true"></i><a href="{{url_for('products')}}">Dairy Products</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 grocery_fresh_vegetables_grid_right">
				<div class="col-md-4 grocery_fresh_vegetables_grid">
					<div class="grocery_fresh_vegetables_grid1">
						<img src="../static/images/8.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-4 grocery_fresh_vegetables_grid">
					<div class="grocery_fresh_vegetables_grid1">
						<div class="grocery_fresh_vegetables_grid1_rel">
							<img src="../static/images/7.jpg" alt=" " class="img-responsive" />
							<div class="grocery_fresh_vegetables_grid1_rel_pos">
								<div class="more m1">
									<a href="{{url_for('products')}}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</div>
					</div>
					<div class="grocery_fresh_vegetables_grid1_bottom">
						<img src="../static/images/10.jpg" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-4 grocery_fresh_vegetables_grid">
					<div class="grocery_fresh_vegetables_grid1">
						<img src="../static/images/9.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="grocery_fresh_vegetables_grid1_bottom">
						<img src="../static/images/11.jpg" alt=" " class="img-responsive" />
						<div class="grocery_fresh_vegetables_grid1_bottom_pos">
							<h5>Special Offers</h5>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				<div class="agileinfo_move_text">
					<div class="agileinfo_marquee">
						<h4>get <span class="blink_me">40% off</span> on first order and also get gift voucher</h4>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

{% endblock %}