<!DOCTYPE html>
<html>
    <head>
        <title>Grocery Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript"> 
            addEventListener("load", function() { 
                setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); 
            } 
        </script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni"crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
        <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="../static/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
        <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="../static/images/logo.webp" type="image/jpg">
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../static/js/move-top.js"></script>
        <script type="text/javascript" src="../static/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){		
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
    </head>
    <body>
	    <div class="grocery_header">
		    <div class="grocery_offers">
			    <a href="{{url_for('products')}}">Today's special Offers !</a>
		    </div>
		    <div class="grocery_search">
			    <form action="#" method="post">
				    <input type="text" name="Product" value="Search for groceries..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				    <input type="submit" value=" ">
			    </form>
		    </div>
		    <div class="product_list_header">  
			    <form action="#" method="post" class="last">
                    <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="display" value="1" />
                        <input type="submit" name="submit" value="View your cart" class="button" />
                    </fieldset>
                </form>
		    </div>
		    <div class="grocery_header_right">
			    <ul>
				    <li class="dropdown profile_details_drop">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					    <div class="mega-dropdown-menu">
						    <div class="grocerys_vegetables">
							    <ul class="dropdown-menu drp-mnu">
								    <li><a href="{{url_for('login')}}">Login</a></li> 
								    <li><a href="{{url_for('login')}}">Sign Up</a></li>
							    </ul>
						    </div>                  
					    </div>	
				    </li>
			    </ul>
		    </div>
		    <div class="clearfix"> </div>
	    </div>
	    <script>
            $(document).ready(function() {
                var navoffeset=$(".grocery_header").offset().top;
                $(window).scroll(function(){
                    var scrollpos=$(window).scrollTop(); 
                    if(scrollpos >=navoffeset){
                        $(".grocery_header").addClass("fixed");
                    }else{
                        $(".grocery_header").removeClass("fixed");
                    }
                });
            });
        </script>
	    <div class="logo_products">
		    <div class="container">
			    <div class="grocerys_logo_products_left">
				    <h1><a href="{{url_for('home')}}"><span>Grocery</span> Store</a></h1>
			    </div>
			    <div class="grocerys_logo_products_left1">
				    <ul class="special_items">
                        <li><a href="{{url_for('events')}}">Specials</a><i> </i></li>
                        <li><a href="{{url_for('about')}}">About Us</a><i> </i></li>
                        <li><a href="{{url_for('products')}}">Best Deals</a><i> </i></li>
                        <li><a href="{{url_for('ouraid')}}">Our Aid</a></li>
	    			</ul>
			    </div>
			    <div class="grocerys_logo_products_left1">
                    <ul class="phone_email">
                        <li><i class="fa fa-phone" aria-hidden="true"></i>+91 7569826462</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:grocerystore@.com">grocerystore@.com</a></li>
                    </ul>
			    </div>
			    <div class="clearfix"> </div>
		    </div>
	    </div>

        {% block body %}
        {% endblock %}

<!-- Footer -->
<footer class="page-footer font-small elegant-color" style="background-color:black;color:white">

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h2>About Us</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <p class="foot-desc mb-0">Grocery store is Local’s largest online food and grocery store.
         you will find everything you are looking for.Right from fresh Fruits and Vegetables, Rice and Dals, 
         Spices and Seasonings to Packaged products,Beverages – we have it all</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h2>Products</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">Vegetables</a>
          </li>
          <li class="mb-2">
            <a href="#!">Fruits</a>
          </li>
          <li class="mb-2">
            <a href="#!">Bread and Bakery</a>
          </li>
          <li class="mb-2">
            <a href="#!">Beverages</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h2>Useful links</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">Profile</a>
          </li>
          <li class="mb-2">
            <a href="#!">New products</a>
          </li>
          <li class="mb-2">
            <a href="#!">FAQ</a>
          </li>
          <li class="mb-2">
            <a href="#!">privacy and policy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h2>Contact</h2>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="fa-ul foot-desc ml-4">
          <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>042 567 517 511</li>
          <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>Grocerystore@support.com</li>
          <li><span class="fa-li"><i class="far fa-clock"></i></span>Monday - Sunday: 10 A.M - 10 P.M</li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>


  <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
      <p>Follow on social media</p>
      <a href="https://www.youtube.com/" class="btn btn-primary m-1" role="button"
        rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://instagram.com" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://mdbootstrap.com/">Grocery Store</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- //footer -->
        <script src="../static/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $(".dropdown").hover(            
                    function() {
                        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                        $(this).toggleClass('open');        
                    },
                    function() {
                        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                        $(this).toggleClass('open');       
                    }
                );
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {                            
                $().UItoTop({ easingType: 'easeOutQuart' });
                                    
                });
        </script>
        <script src="../static/js/minicart.min.js"></script>
        <script>
            paypal.minicart.render({
                action: '#'
            });

            if (~window.location.search.indexOf('reset=true')) {
                paypal.minicart.reset();
            }
        </script>
    </body>
</html>